.hero-container {
  padding: 20px 20px 200px 20px;
  display: flex;
  gap: 40px;
  position: relative;
}

.hero-backgroundElipse,
.hero-backgroundColor {
  position: absolute;
}

.hero-backgroundColor {
  top: 0;
  left: -50px;
  background: rgb(250, 240, 255);
  background: linear-gradient(
    180deg,
    rgba(250, 240, 255, 0) 0%,
    rgba(250, 240, 255, 1) 100%
  );
  width: 120%;
  height: 100%;
}

.hero-backgroundElipse {
  bottom: 0;
  left: -50px;
  width: 120%;
  height: 20%;
  background-color: #fff;
  clip-path: ellipse(50% 100% at 45% 120%);
}

.hero-leftContainer,
.hero-rightContainer {
  z-index: 20;
}

.hero-leftContainer {
  flex: 1;
}

.hero-leftContainer h1 {
  font-size: 48px;
  font-family: var(--pbc-g-font-display);
  margin-top: 0;
  color: var(--sds-g-link-color-active);
  line-height: 56px;
}

.hero-subTitle {
  font-size: 18px;
  font-weight: 700;
}

.hero-description {
  font-size: 16px;
  font-weight: 400;
}

.hero-badgeContainer {
  margin-bottom: 20px;
}

.hero-badgeContainer .badge {
  margin-right: 8px;
  background-color: var(--sds-g-color-palette-cloud-blue-90);
}

.hero-rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-rightContainer div,
.hero-rightContainer div img {
  float: right;
}

.hero-socialLinks {
  margin-top: 40px;
}
